/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

*, *::before, *::after { box-sizing: border-box; }
* { font-size: 100%; margin: 0px; padding: 0px; vertical-align: baseline; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }
html, body { width: 100%; height: 100%; } html, body { font-family: var(--font-family); font-size: var(--font-size); color: var(--font-color); background-color: var(--background-color); }
div, span, form, button, input, select, option { font-family: inherit; font-size: inherit; }
header, main, menu, nav, section, article, figure, footer { font-family: inherit; font-size: inherit; color: inherit; background-color: inherit; display: block; }
button, select, input, textarea { font-family: inherit; font-size: inherit; color: inherit; outline: none; vertical-align: sub; }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; }
input[type="number"] { -moz-appearance: textfield; }
input[type="checkbox"], input[type="radio"] { vertical-align: middle; }
input[type="text"] {} input[type="date"] {} input[type="email"] {}
ul { list-style-type: none; } li { list-style: none; }
img { vertical-align: middle; }
template { display: none; }
pre { font-family: var(--font-family-code); }

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

a { color: var(--font-anchor-color); text-decoration: none; cursor: pointer; }
a:hover { color: var(--font-anchor-color-hover); }
a:active { color: var(--font-anchor-color-active); }
a:visited { color: var(--font-anchor-color-visited); }
[class*="a:static"], [class*="a:static"]:hover, [class*="a:static"]:active, [class*="a:static"]:visited { color: var(--font-anchor-color-static); }

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

.line-spacing { line-height: 22px; } [class*="line-spacing:small"] { line-height: 16px; } [class*="line-spacing:medium"] { line-height: 24px; } [class*="line-spacing:large"] { line-height: 32px; }
.text-spacing { letter-spacing: 1px; }
.under-line { text-decoration: underline; }
.no-wrap { white-space: nowrap; }

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

.in-line { display: inline; }
.block { display: block; } [class*="block:in-line"] { display: inline-block; }
.table { display: table; } [class*="table:row"] { display: table-row; } [class*="table:cell"], [class*="table:column"] { display: table-cell; }
.grid { display: grid; } .flex { display: flex; } [class*="flex:in-line"] { display: inline-flex; } [class*="flex:row"] { flex-direction: column; } [class*="flex:column"] { flex-direction: row; } [class*="flex:wrap"] { flex-wrap: wrap; } [class*="flex:grow"] { flex-grow: 1; }

.absolute { position: absolute; } .relative { position: relative; } .fixed { position: fixed; }
.visible { visibility: visible; } .hidden { visibility: hidden; } .hide { display: none; visibility: hidden; width: 0; height: 0; } .none { display: none; }
.opacity { opacity: 1; } .no-opacity { opacity: 0; } .transparent { opacity: 0; }
.overflow { overflow: auto; } .no-overflow { overflow: hidden; }
.scroll { overflow: scroll; } .x-scroll { overflow-x: scroll; } [class*="x-scroll:auto"] { overflow-x: auto; } .v-scroll { overflow-y: scroll; } [class*="v-scroll:auto"] { overflow-y: auto; }

.text-align { text-align: center; } [class*="text-align:left"] { text-align: left; } [class*="text-align:right"] { text-align: right; } [class*="text:small"] { text-transform: lowercase; } [class*="text:big"] { text-transform: uppercase; }
.align-item, [class*="align:item"] { align-items: center; } .align-start, [class*="align:start"] { align-items: start; } .align-end, [class*="align:end"] { align-items: end; }
.justify-item, [class*="justify:item"] { justify-content: center; } .justify-start, [class*="justify:start"] { justify-content: start; } .justify-end, [class*="justify:end"] { justify-content: end; } .justify-content { text-align: justify; }
.align-justify, [class*="align:justify"] { align-items: center; justify-content: center; }

[class*="cursor:default"] { cursor: default; }
[class*="cursor:pointer"] { cursor: pointer; }
[class*="cursor:progress"] { cursor: progress; }

.pointer-event { pointer-events: all; }
.no-pointer-event, [class*="pointer-event:none"] { pointer-events: none; }

.x { width: 100%; } .x-port { width: 100vw; } .x-half { width: 50%; }
.v { height: 100%; } .v-port { height: 100vh; } .v-half { height: 50%; }
.view, .match_parent { width: 100%; height: 100%; } .view-port { width: 100vw; height: 100vh; }
/* .width { width: 1px; } [class*="width:bold"] { width: 2px; } */
/* .height { height: 1px; } [class*="height:bold"] { height: 2px; } */

.in-dex { z-index: -1; }
.z-index { z-index: 1000000; }
.index { z-index: 1; }
[class*="index:regular"] { z-index: 100; }
[class*="index:small"] { z-index: 10; }
[class*="index:medium"] { z-index: 1000; }
[class*="index:large"] { z-index: 10000; }
[class*="index:big"] { z-index: 100000; }

[position="top"] { top: 0px; } [position="top:port"] { top: 100%; } [position="top left"] { bottom: 100%; left: 0px; } [position="top right"] { bottom: 100%; right: 0px; } .top { top: 0px; } .top-port, [class*="top:port"] { top: 100%; } .top-left { bottom: 100%; left: 0px; } .top-right { bottom: 100%; right: 0px; }
[position="bottom"] { bottom: 0px; } [position="bottom:port"] { bottom: 100%; } [position="bottom left"] { left: 0px; } [position="bottom right"] { right: 0px; } .bottom { bottom: 0px; } .bottom-port { bottom: 100%; } .bottom-left { left: 0px; } .bottom-right { right: 0px; }
[position="left"] { left: 0px; } [position="left:port"] { left: 100%; } .left { left: 0px; } .left-port { left: 100%; }
[position="right"] { right: 0px; } [position="right:port"] { right: 100%; } .right { right: 0px; } .right-port { right: 100%; }

.gap { gap: 10px; }
[class*="gap:tiny"] { gap: 3px; }
[class*="gap:small"] { gap: 5px; }
[class*="gap:medium"] { gap: 15px; }
[class*="gap:large"] { gap: 20px; }
[class*="gap:big"] { gap: 25px; }

.margin { margin: 10px; } [class*="margin:small"] { margin: 5px; } [class*="margin:medium"] { margin: 15px; } [class*="margin:large"] { margin: 20px; } [class*="margin:big"] { margin: 25px; }
.margin-top { margin-top: 10px; } [class*="margin-top:small"] { margin-top: 5px; } [class*="margin-top:medium"] { margin-top: 15px; } [class*="margin-top:large"] { margin-top: 20px; } [class*="margin-top:big"] { margin-top: 25px; }
.margin-bottom { margin-bottom: 10px; } [class*="margin-bottom:small"] { margin-bottom: 5px; } [class*="margin-bottom:medium"] { margin-bottom: 15px; } [class*="margin-bottom:large"] { margin-bottom: 20px; } [class*="margin-bottom:big"] { margin-bottom: 25px; }
.margin-left { margin-left: 10px; } [class*="margin-left:small"] { margin-left: 5px; } [class*="margin-left:medium"] { margin-left: 15px; } [class*="margin-left:large"] { margin-left: 20px; } [class*="margin-left:big"] { margin-left: 25px; }
.margin-right { margin-right: 10px; } [class*="margin-right:small"] { margin-right: 5px; } [class*="margin-right:medium"] { margin-right: 15px; } [class*="margin-right:large"] { margin-right: 20px; } [class*="margin-right:big"] { margin-right: 25px; }
.margin-vertical { margin-top: 10px; margin-bottom: 10px; } [class*="margin-vertical:small"] { margin-top: 5px; margin-bottom: 5px; } [class*="margin-vertical:medium"] { margin-top: 15px; margin-bottom: 15px; } [class*="margin-vertical:large"] { margin-top: 20px; margin-bottom: 20px; } [class*="margin-vertical:big"] { margin-top: 25px; margin-bottom: 25px; }
.margin-horizontal { margin-left: 10px; margin-right: 10px; } [class*="margin-horizontal:small"] { margin-left: 5px; margin-right: 5px; } [class*="margin-horizontal:medium"] { margin-left: 15px; margin-right: 15px; } [class*="margin-horizontal:large"] { margin-left: 20px; margin-right: 20px; } [class*="margin-horizontal:big"] { margin-left: 25px; margin-right: 25px; }

.padding { padding: 10px; } [class*="padding:tiny"] { padding: 3px; } [class*="padding:small"] { padding: 5px; } [class*="padding:medium"] { padding: 15px; } [class*="padding:large"] { padding: 20px; } [class*="padding:big"] { padding: 25px; }
.padding-top { padding-top: 10px; } [class*="padding-top:small"] { padding-top: 5px; } [class*="padding-top:medium"] { padding-top: 15px; } [class*="padding-top:large"] { padding-top: 20px; } [class*="padding-top:big"] { padding-top: 25px; }
.padding-bottom { padding-bottom: 10px; } [class*="padding-bottom:small"] { padding-bottom: 5px; } [class*="padding-bottom:medium"] { padding-bottom: 15px; } [class*="padding-bottom:large"] { padding-bottom: 20px; } [class*="padding-bottom:big"] { padding-bottom: 25px; }
.padding-left { padding-left: 10px; } [class*="padding-left:small"] { padding-left: 5px; } [class*="padding-left:medium"] { padding-left: 15px; } [class*="padding-left:large"] { padding-left: 20px; } [class*="padding-left:big"] { padding-left: 25px; }
.padding-right { padding-right: 10px; } [class*="padding-right:small"] { padding-right: 5px; } [class*="padding-right:medium"] { padding-right: 15px; } [class*="padding-right:large"] { padding-right: 20px; } [class*="padding-right:big"] { padding-right: 25px; }
.padding-vertical { padding-top: 10px; padding-bottom: 10px; } [class*="padding-vertical:small"] { padding-top: 5px; padding-bottom: 5px; } [class*="padding-vertical:medium"] { padding-top: 15px; padding-bottom: 15px; } [class*="padding-vertical:large"] { padding-top: 20px; padding-bottom: 20px; } [class*="padding-vertical:big"] { padding-top: 25px; padding-bottom: 25px; }
.padding-horizontal { padding-left: 10px; padding-right: 10px; } [class*="padding-horizontal:small"] { padding-left: 5px; padding-right: 5px; } [class*="padding-horizontal:medium"] { padding-left: 15px; padding-right: 15px; } [class*="padding-horizontal:large"] { padding-left: 20px; padding-right: 20px; } [class*="padding-horizontal:big"] { padding-left: 25px; padding-right: 25px; }
.padding-landscape, [class*="padding:landscape"] { padding: 10px 15px; }

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

.text-gradient {
	background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	}

.border-gradient {
	border-image: linear-gradient(to right, rgb(66, 211, 146) 0%, rgb(100, 126, 255) 100%) 1;
	border-radius: 5px;
	border-width: 4px;
	border-style: solid;
	padding: 5px;
	}

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

/**
 * the end
 *
 * xxx://xxx.xxx.xxx/xxx
 */
